.rank{
    position: fixed;
    width: 40vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgb(245, 245, 245);
    -webkit-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.3); 
    box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.3);
    padding-inline: 1rem;
}

.rank__player{
    display: flex;
    justify-content: space-between;
}